* {
  scroll-behavior: smooth !important;
}

.box {
  background: linear-gradient(187.42deg, rgba(1, 109, 176, 0.1) 8.97%, rgba(1, 251, 201, 0.1) 94.86%);
  border: 1px solid;
  backdrop-filter: blur(31.478700637817383px);
  border: 1px solid;
}

.box::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  padding: inherit;
  inset: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: 1px solid;
  background: linear-gradient(187.42deg, rgba(1, 109, 176, 0.8) 8.97%, rgba(1, 251, 201, 0.8) 94.86%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}

/* -----------------------------accordian---------------------------- */
.accordion {
  width: 100%;
  max-width: 973px !important;
}

.accordion-item {
  border-radius: 10px !important;
  background: linear-gradient(90.18deg, #251F38 0%, #161029 100%) !important;
  box-shadow: 0px 2.234309673309326px 3.3514645099639893px 0px rgba(76, 100, 132, 1) inset;
}

.accordion-title {
  padding-top: 30px;
  padding-bottom: 30.96px;
  padding-left: 28px;
  padding-right: 28.1px;
  cursor: pointer;
  font-weight: 400;
  color: #A9A9A9;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  padding: 0;
  transition: all 0.8s ease-in-out;
}

.accordion-content.open {
  max-height: 811px !important;
  transform: scale(1);
  margin-top: -2px;
  /* padding: 28px; */
  padding-left: 28px;
  padding-bottom: 27.96px;
  margin-top: -14px !important;
  padding-top: 0 !important;
}

@media (max-width:550px) {
  .accordion-content.open {
    padding: 24px !important;
  }
}

/* -----------------------------Slider---------------------------------- */
.Slider_card {
  background: linear-gradient(116.5deg, rgba(255, 255, 255, 0.1) 33.36%, rgba(255, 255, 255, 0) 76.98%);
  backdrop-filter: blur(31.478700637817383px);
  border: 1px solid;
  position: relative
}

.Slider_card::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  padding: inherit;
  inset: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: 1px solid !important;
  background: linear-gradient(189.4deg, rgba(1, 109, 176, 0.24) 11.06%, rgba(1, 251, 201, 0.24) 140.62%) !important;
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0) !important;
  -webkit-mask-composite: xor !important;
  pointer-events: none;
  outline: none;
}

.slick-slide {
  .content_opacity {
    opacity: 0;
  }

  /* transform: skewY(4deg); */

  .Img_shadow {
    box-shadow: inset;
  }
}

.slick-track {
  padding-top: 20px;
  padding-bottom: 20px;
}

.slick-slide.slick-current.slick-active {
  .content_opacity {
    opacity: 1;
  }

  /* 
  transform: skewY(0); */

  .Img_shadow {
    box-shadow: 0px 0px 46.70000076293945px 10px #374FD54D;
  }
}

/* --------------------------Back-To-Top---------------------- */
.backTopBtn {
  animation: top_btn 2s linear infinite;
}

@keyframes top_btn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}